.cta-button {
    color: #FFFFFF; /* Màu chữ trắng */
    background-color: transparent; /* Nền trong suốt */
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #FFFFFF; /* Viền trắng */
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: #FFFFFF; /* Nền trắng khi di chuột */
    color: #0B2447; /* Màu chữ khi di chuột */
    border-color: #FFFFFF; /* Viền trắng */
}

.cta-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner-content {
    position: absolute;
    left: 530px;
    bottom: 250px;
    transform: translateY(-50%);
    color: #FFFFFF;
}

.banner-content h2 {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Petit Formal Script', cursive;
}

.banner-content h5 {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
    left: 370px;
    top: 150px;
    color: #FFD700;
}

.banner-content .main-text {
    color: #FFFFFF;
    font-size: 24px;
    margin: 10px 0;
}

.banner-content .sub-text {
    color: #FFFFFF;
    font-size: 18px;
}